<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.campusgo">
    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- Acceso a galería / almacenamiento -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusGo"
        tools:targetApi="31">
        <activity
            android:name=".usuario.ListaProductosVendidosActivity"
            android:exported="false" />
        <!-- FileProvider para la cámara -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".producto.ListaProductosActivity"
            android:exported="false" />
        <activity
            android:name=".Ingresar.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".compra.ListaComprasPasadasActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.EditarPerfilActivity"
            android:exported="false" /> <!-- Actividades de la aplicación -->
        <activity
            android:name=".chat.ChatsActivity"
            android:exported="false" /> <!-- Actividades de la aplicación -->
        <activity
            android:name=".compra.SeguimientoActivity"
            android:exported="false" />
        <activity
            android:name=".compra.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".compra.ComprarActivity"
            android:exported="false" />
        <activity
            android:name=".mapas.MapaCompradorActivity"
            android:exported="false" />
        <activity
            android:name=".mapas.MapaVendedorActivity"
            android:exported="false" />
        <activity
            android:name=".compra.CalificarActivityVendedor"
            android:exported="false" />
        <activity
            android:name=".compra.NFCActivity"
            android:exported="false" />
        <activity
            android:name=".producto.DetalleProductoActivity"
            android:exported="false" />
        <activity
            android:name=".producto.CrearProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Ingresar.HomeActivity"
            android:exported="false" /> <!-- LoginActivity accesible externamente si se usa autenticación -->
        <activity
            android:name=".Ingresar.LoginActivity"
            android:exported="true" /> <!-- MainActivity configurada como pantalla de inicio -->
        <activity
            android:name=".Ingresar.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>